@page
@model S2.AspNet.Repetition.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Min første memegenerator</h1>
<div class="wrapper">
    <article>
        <form action="/NewMeme" method="get">
            <div class="memeWrapper">
                <div class="memeSelector">
                    <img src="~/Img/meme1.png" />
                    <input type="radio" name="imageselected" value="1" checked />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme2.png" />
                    <input type="radio" name="imageselected" value="2" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme3.png" />
                    <input type="radio" name="imageselected" value="3" />
                </div>
                <div class="memeSelector">
                    <img src="~/Img/meme4.png" />
                    <input type="radio" name="imageselected" value="4" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme5.png" />
                    <input type="radio" name="imageselected" value="5" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme6.png" />
                    <input type="radio" name="imageselected" value="6" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme7.png" />
                    <input type="radio" name="imageselected" value="7" />
                </div>
            </div>

            <div class="memeSelector memeText">
                <input type="text" size="50" name="memeText" placeholder="Skriv din meme text" />
                <input type="text" size="50" name="memeName" placeholder="Give din meme et navn" />
                <div>
                    <p>text size for the meme</p><br />
                </div>
                <div class="text-size">
                    
                    <div>
                        <input type="radio" name="TextSize" value="text-size-small" id="small" />
                        <label for="small">Small</label>
                    </div>
                    <div>
                        <input type="radio" name="TextSize" value="text-size-medium" id="medium" checked />
                        <label for="medium">Medium</label>
                    </div>
                    <div>
                        <input type="radio" name="TextSize" value="text-size-large" id="large" />
                        <label for="large">Large</label>
                    </div>
                </div>
                <h4>text position</h4>
                <div class="text-positions">
                    <div class="text-positions-endPoints">
                        <div>
                            <input type="radio" name="textPosition" value="top-left" id="rTopLeft" />
                            <label for="rTopLeft">Top-Left</label>
                        </div>
                        <div>
                            <input type="radio" name="textPosition" value="top-center" id="rTopCenter" />
                            <label for="rTopCenter">Top-Center</label>
                        </div>
                        <div>
                            <input type="radio" name="textPosition" value="top-right" id="rTopRight" />
                            <label for="rTopRight">Top-Right</label>
                        </div>
                    </div>
                    <div class="text-positions-endPoints">
                        <div>
                            <input type="radio" name="textPosition" value="centered" id="rCentered" />
                            <label for="rCentered">Centered</label>
                        </div>
                    </div>
                    <div class="text-positions-endPoints">
                        <div>
                            <input type="radio" name="textPosition" value="bottom-left" id="rBottomLeft" />
                            <label for="rBottomLeft">Bottom-Left</label>
                        </div>
                        <div>
                            <input type="radio" name="textPosition" value="bottom-center" id="rBottomCenter" />
                            <label for="rBottomCenter">Bottom-Center</label>
                        </div>
                        <div>
                            <input type="radio" name="textPosition" value=bottom-right" id="rBottomRight" />
                            <label for="rBottomRight">Bottom-Right</label>
                        </div>
                    </div>
                </div>
                <br />
                <input type="submit" value="Generer meme" />
            </div>
        </form>
    </article>
</div>




